<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>IQ Wiki Update</title>
</head>

<body class="bg-[#F4F6F8] flex w-full justify-center font-body text-brandText">
    <table cellpadding="0" cellspacing="0" height="100%" width="100%"
        style="border: none; background-color: #F4F6F8; font-family: Verdana, Arial; color: #1A202C;">
        <tr>
            <td align="center" valign="top">
                <table cellpadding="40" cellspacing="0" width="800" id="emailContainer"
                    style="background-color: #F4F6F8; border: none;">
                    <tr>
                        <td align="center" valign="top" style="border: none;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="esd-block-image esd-frame esdev-disable-select esd-draggable esd-block esd-hover"
                style="font-size: 0px;" esd-handler-name="imgBlockHandler" align="center">
                <table style=" background-color: white;" width="800">
                    <tr>
                        <td>
                            <a href="{{iqUrl}}">
                                <div
                                    style="background-image: url(https://gateway.pinata.cloud/ipfs/QmcWsk4TASWeFvAtkkyVubCjKXz5h893srxPXYU9hFwcUZ); background-size: cover; height: 146px; width: 100%;">
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="1px" cellpadding="20" cellspacing="0" width="800" id="emailContainer"
                    style="background-color: white; border: none;" height="36">
                    <tr>
                        <td align="center" valign="top" style="border: none;">
                            <span style="font-size: 30px; font-weight: 600; line-height: 36px;">
                                Wiki Update: {{wiki}}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="1px" cellpadding="20" cellspacing="0" width="800" id="emailContainer"
                    style="background-color: white; border: none;" height="174">
                    <tr>
                        <td align="center" valign="top" style="padding-bottom: 40px; border: none;">
                            <img src="{{wikiImage}}" alt="{{wiki}} image" style="height: 332px; width: 443px">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style=" border: none; font-size: 18px;">
                            Hey There! <br> I have got some good news for you.
                            <span style="font-weight: 600; text-transform: capitalize;">{{wiki}}</span>
                            has been updated. You don’t want to miss. it. Click below to check out the lastest
                            information.
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style=" border: none;">
                            <span
                                style="border-radius: 6px; border-width: 0px; background: #FF5CAA; padding: 14px 41px;">
                                <a href="{{url}}" target="_blank"
                                    style="font-size: 14px; color: white; text-decoration: none;">Read wiki update</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table cellpadding="0" cellspacing="0" width="800" id="emailContainer"
                    style="border: none; background-color: white; padding: 25px 50px;">
                    <tr>
                        <td style="border-bottom: 1px solid #FF5CAA; background: unset; height:1px; ">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table style="padding-bottom: 18px; background-color: white; text-align: center;" width="800">
                    <tr>
                        <td style="font-size: 30px; font-weight: 600;">Get more from IQ.wiki</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table style="padding-bottom: 18px; background-color: white; text-align: center; font-size: 18px;"
                    width="800">
                    <tr>
                        <td>Don’t miss out! Check out some other amazing wiki updates from IQ.wiki.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" >
                <table style="background-color: white;" width="800">
                    <tr>
                        <td align="center">
                            <div style="background-color: #F7FAFC; border: 1px solid #E2E8F0; border-radius: 20px; padding: 30px 10px; 0px; width: 650px;">
                            <table style="background-color: #F7FAFC !important; border: 1px solid #E2E8F0 !importan; border-radius: 20px !important; padding: 30px 10px; 0px !important;"
                                width="650">
                                <tr>
                                    <td align="left" width="431" style="padding-bottom: 20px;">
                                       <span style="font-weight:700; padding-bottom: 6px; font-size: 18px; display: block;">
                                        {{suggestions.[0].title}}
                                       </span> 
                                       <span>
                                           {{suggestions.[0].summary}}
                                       </span>

                                    </td>
                                    <td align="right" width="152" style="padding-bottom: 25px;">
                                        <span
                                            style="border-radius: 6px; border-width: 0px; background: #FF5CAA; padding: 14px 41px;">
                                            <a href="{{iqUrl}}/wiki/{{suggestions.[0].id}}" target="_blank"
                                                style="font-size: 14px; color: white; text-decoration: none;">Read
                                                wiki</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="431" style="padding-bottom: 20px;">
                                       <span style="font-weight:700; padding-bottom: 6px; font-size: 18px; display: block;">
                                        {{suggestions.[1].title}}
                                       </span> 
                                       <span>
                                        {{suggestions.[1].summary}}
                                       </span>

                                    </td>
                                    <td align="right" width="152" style="padding-bottom: 25px;">
                                        <span
                                            style="border-radius: 6px; border-width: 0px; background: #FF5CAA; padding: 14px 41px;">
                                            <a href="{{iqUrl}}/wiki/{{suggestions.[1].id}}" target="_blank"
                                                style="font-size: 14px; color: white; text-decoration: none;">Read
                                                wiki</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="431" style="padding-bottom: 20px;">
                                       <span style="font-weight:700; padding-bottom: 6px; font-size: 18px; display: block;">
                                        {{suggestions.[2].title}}
                                       </span> 
                                       <span>
                                        {{suggestions.[2].summary}}
                                       </span>

                                    </td>
                                    <td align="right" width="152" style="padding-bottom: 25px;">
                                        <span
                                            style="border-radius: 6px; border-width: 0px; background: #FF5CAA; padding: 14px 41px;">
                                            <a href="{{iqUrl}}/wiki/{{suggestions.[2].id}}" target="_blank"
                                                style="font-size: 14px; color: white; text-decoration: none;">Read
                                                wiki</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="431" style="padding-bottom: 10px;">
                                       <span style="font-weight:700; padding-bottom: 6px; font-size: 18px; display: block;">
                                        {{suggestions.[3].title}}
                                       </span> 
                                       <span>
                                        {{suggestions.[3].summary}}
                                       </span>

                                    </td>
                                    <td align="right" width="152" style="padding-bottom: 10px;">
                                        <span
                                            style="border-radius: 6px; border-width: 0px; background: #FF5CAA; padding: 14px 41px;">
                                            <a href="{{iqUrl}}/wiki/{{suggestions.[3].id}}" target="_blank"
                                                style="font-size: 14px; color: white; text-decoration: none;">Read
                                                wiki</a>
                                        </span>
                                    </td>
                                </tr>

                            </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table cellpadding="0" cellspacing="0" width="800" id="emailContainer"
                    style="border: none; background-color: white; padding-left:50px; padding-right: 50px; padding-bottom: 60px; padding-top: 25px;">
                    <tr>
                        <td style="border-bottom: 1px solid #FF5CAA; background: unset; height:1px; ">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table style="padding-bottom: 20px; background-color: white;" width="800">
                    <tr>
                        <td style="color:#FF5CAA; font-size: 20px; font-weight: 700; text-align: center;">Join our
                            community Hub</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table
                    style="padding-bottom: 20px; background-color: white; padding-left: 215.5px; padding-right: 215.5px;"
                    width="800">
                    <tr>
                        <td style="padding-right: 12px;">
                            <a href="https://twitter.com/IQWIKI"><img src="https://gateway.pinata.cloud/ipfs/Qme4het45xAEQQXttnGHYPVfGaRcHS9xmmk7WRGQjoWdXc" style="width: 48px; height: 48px;"
                                    alt="Twitter"></a>
                        </td>
                        <td style="padding-right: 12px;">
                            <a href="https://github.com/EveripediaNetwork"><img src="https://gateway.pinata.cloud/ipfs/QmWvRPpao1YbBAPKmUVGZqnUGMggTiFeP7SZgoGo7P77qm" style="width: 48px; height: 48px;"
                                    alt="Github"></a>
                        </td>
                        <td style="padding-right: 12px;">
                            <a href="https://instagram.com/everipedia"><img src="https://gateway.pinata.cloud/ipfs/QmedghA8u4PDj3m4BSDc5wYQDzLDbcLi8BoyYUFKex6DkT" style="width: 48px; height: 48px;"
                                    alt="Instagram"></a>
                        </td>
                        <td style="padding-right: 12px;">
                            <a href="https://web.facebook.com/everipedia?_rdc=1&_rdr"><img src="https://gateway.pinata.cloud/ipfs/QmRBsofFqDNamAxgHQGLyU8D9QCrMefcwkwRhfJ8pubFGj" style="width: 48px; height: 48px;"
                                    alt="Facebook"></a>
                        </td>
                        <td style="padding-right: 12px;">
                            <a href="https://discord.gg/x9EWvTcPXt"><img src="https://gateway.pinata.cloud/ipfs/QmQsUkJ8WpbTkKEmyUvDXaTTxfevpD752fm4y1rntJ8PEz" style="width: 48px; height: 48px;"
                                    alt="Discord"></a>
                        </td>
                        <td>
                            <a href="https://t.me/everipedia"><img src="https://gateway.pinata.cloud/ipfs/QmTBdn2urSaMWbT13yiK4g3keVLnWfv6C1GGWTYkndrgKH" style="width: 48px; height: 48px;"
                                    alt="Telegram"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table style="background-color: white; height: 40px;" cellpadding="0" cellspacing="0" width="800"
                    height="36">
                    <tr>
                        <td style="color:#4A5568; font-size: 14px; font-weight: 500; text-align: center;">You are
                            getting this email as a
                            registered user of <a href="https://iq.wiki" style="color:#FF5CAA;">IQ.Wiki</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table style="background-color: white; padding-bottom: 80px;" cellpadding="0" cellspacing="0"
                    width="800" height="36">
                    <tr>
                        <td style="color:#4A5568; font-size: 14px; font-weight: 500; text-align: center;">Manage your
                            email preferences <a href="{{unsubscribeLink}}" style="color:#FF5CAA;">here</a> or <a
                                href="{{iqUrl}}" style="color:#FF5CAA;">unsubscribe</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table cellpadding="40" cellspacing="0" width="800" id="emailContainer"
                    style="background-color: #F4F6F8; border: none;">
                    <tr>
                        <td align="center" valign="top" style="border: none;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
